<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/test.js"></script>
</head>

<body>  
  <div class="title">
    <h1>회원 목록</h1>
    <h2>총 회원 수 <%= userCounts %></h2>
  </div>
  <ul>
    <% if(userCounts > 0) { %>
      <% for (let i = 0; i < userCounts; i++) { %>
        <li>
          <p>ID: <%= USER[i].id %></p>
          <p>이름: <%= USER[i].name %></p>
          <p>이메일: <%= USER[i].email %></p>
        </li>
      <% } %>
    <% } else { %>
      <li>회원 정보가 없습니다.</li>
    <% } %>
    <img src="./images/<%= imgName %>" alt="커플사진" width="500px">
  </ul>
</body>

</html>